@page "/"
@model Chirp.Web.Pages.PublicModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    <h2> Public Timeline </h2>
    <partial name="Shared/_sendCheepPartial" model="@Model"/>
    <partial name="Shared/_CheepListPartial" model="@Model"/>
</div>
