@page "/{author}"
@model Chirp.Web.Pages.UserTimelineModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    <h2>@Model.Header</h2>
    @if (Model.Author != null) {
        <partial name="Shared/_CheepListPartial" model="@Model"/>
    }
</div>
