@page
@model Following
@{
    ViewData["Title"] = "Following";
    ViewData["ActivePage"] = ManageNavPages.Following;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<p>Here are the accounts you follow</p>
<div class="row">
    <div class="col-md-6">

        @foreach (var followRelation in Model.FollowRelations)
        {
            <li>
               <div style="display: flex; align-items: center; gap: 5px">
                        @if (followRelation.Follower.UserName != followRelation.Followed.UserName) {
                            <strong>
                                <a href="/@followRelation.Followed.UserName">@followRelation.Followed.DisplayName</a>
                            </strong>
                            <form method="post" style="display:inline; margin: 0; padding: 0;">
                                <button type="submit"
                                        asp-page-handler="UnFollow"
                                        style="background:none; color:black; border:none;padding:0;margin:0">
                                    Unfollow
                                </button>
                                <input type="hidden" name="authorA" value="@followRelation.Followed.UserName"/>
                                <input type="hidden" name="authorB" value="@followRelation.Follower.UserName"/>
                            </form>
                        }
                    </div>
                    <br>
            </li>
        }

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}