@using Chirp.Core.Domain_Model
@inject SignInManager<Author> SignInManager
@inject UserManager<Author> UserManager

@if (SignInManager.IsSignedIn(User)) {
    <span>
        <a class="nav-link text-dark" asp-area="Identity"
           asp-page="/Account/Manage/Index" title="Manage">
            About me</a> |
        <form class="form-inline" asp-page="/Account/Logout"
              asp-route-returnUrl="@Url.Page("/", new { area = "" })"
              asp-area="Identity" method="post">
            <button class="nav-link btn btn-link text-dark"
                    type="submit">Logout
            </button>
        </form>
    </span>
} else {
    <span>
        <a class="nav-link text-dark" asp-area="Identity"
           asp-page="/Account/Register">Register</a> |
        <a class="nav-link text-dark" asp-area="Identity"
           asp-page="/Account/Login">Login</a>
    </span>
}
