@using Chirp.Core.Domain_Model
@inject SignInManager<Author> SignInManager
@inject UserManager<Author> UserManager

@if (User.Identity is { IsAuthenticated: true })
{
    <span>
        <a class="nav-link text-dark" asp-area="Identity"
           asp-page="/Account/Manage/Index" title="Manage">
            @if (User.Identity?.Name != null) {
                string? name = UserManager.FindByNameAsync(User.Identity.Name).Result?.Name;
                if (string.IsNullOrEmpty(name)) {
                    <span>Logged in, but user with username @User.Identity?.Name does not exist.</span>
                } else {
                    <span>@name</span>
                }
            } else {
                <span>Unknown user</span>
            }
        </a> |
        <form class="form-inline" asp-page="/Account/Logout"
              asp-route-returnUrl="@Url.Page("/", new { area = "" })"
              asp-area="Identity" method="post">
            <button class="nav-link btn btn-link text-dark"
                    type="submit">Logout
            </button>
        </form>
    </span>
}
else
{
    <span>
        <a class="nav-link text-dark" asp-area="Identity"
           asp-page="/Account/Register">Register</a> |
        <a class="nav-link text-dark" asp-area="Identity"
           asp-page="/Account/Login">Login</a>
    </span>
}
