# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: BuildAndTest

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - "v*"
  pull_request:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x
      - name: Format
        run: dotnet format --exclude src/Chirp.Infrastructure/Migrations --verify-no-changes diagnostic
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore
  Test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x
      - name: build again
        run: dotnet build
      - name: download-playwright
        run: pwsh ./tests/PlaywrightTests/bin/Debug/net9.0/playwright.ps1 install
      - name: Test
        run: |
          export authenticationGitHubClientId="${{ secrets.GITHUBCLIENTID }}"
          export authenticationGitHubClientSecret="${{ secrets.GITHUBCLIENTSECRET }}"
          dotnet test -e ASPNETCORE_ENVIRONMENT=Development --no-build --verbosity normal