# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: BuildAndTest

on: 
  push:
    branches:
      - '**'
    tags-ignore:
      - "v*"
  pull_request:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build
          path: '**/bin/Release/net*/'
  Test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x
      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: build
      - name: download-playwright
        run: |
          pwd
          ls
          cd tests
          ls
          cd PlaywrightTests
          ls
          cd bin
          ls
          cd Debug
          ls
          cd net9.0
          ls
          pwsh tests/PlaywrightTests/bin/Debug/net9.0/playwright.ps1 install
      - name: Test
        run: dotnet test -e ASPNETCORE_ENVIRONMENT=Test